// You can add global styles to this file, and also import other style files
@import "~@tangoe/goponents/styles/styles";
@import '~@tangoe/goponents/styles/variables';
@import '~bootstrap/scss/bootstrap';

$app-bg: #f0f0f0;

html,
body {
  height: 100%;
}

body {
  background: $app-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

footer {
  padding: .5rem 0 1rem;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-bar {
  background: $base-primary;
  color: $base-light
} 

.logo {
  width: auto;
  height: 5rem;
  transform: rotate(20deg)
}
